html,body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

footer {
  padding: 30px 0;
}

h3, h1{
	color:#339966;
}

#spinner{
	display: none;
}

/************sidebar**************/
.member-box{
    display: block;
    padding:8px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.member-box {
    background-color: #FBFBFB;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5F5);
    background-repeat: repeat-x;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 #FFFFFF inset;
}
.round-all {
    border-radius: 3px;
}

img.member-box-avatar {
    float: left;
    height: 40px;
    margin-right: 10px;
    padding: 1px;
    width: 40px;
}

img.member-box-avatar {
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}


/*************Footer**************/
#logos img{
	margin: 0 auto;
	display: inline-block;
	margin-right: 15px; 
}

.bs-docs-footer{
	padding-top:40px;
	padding-bottom:40px;
	margin-top:100px;
	color:#777;
	text-align:center;
	border-top:1px solid #e5e5e5;
}

.copyright{
	text-align: center;
	margin: 0;
	min-height: 0;
	height: auto;
	line-height: 1em;
	font-size: 15px; 
	margin-top: 20px;
}

 /**********NAVBAR**********/
#background-banner {
	height: 130px;
	background: url('../../assets/imagenes/cesteria2.jpg'); 
	padding-right: 0px !important;
}

#imagen_indio_7{
	padding-left: 0px !important;	
}

#logo {
	margin-top: 25px;
	display: inline-block;
}

/************Boton SUbir***********/
.scroll-to-top {
	display: none;
	position: fixed; bottom: 100px; right: 100px;
	width: 80px;
	height: 25px;
	font: bold 0.9em/1.2em Arial, Helvetica, sans-serif; 
	color: #bbb !important; text-transform: uppercase; text-decoration: none;
	padding: 10px;
	border-radius: 5px;

	text-align:center;
}
.scroll-to-top:hover { text-decoration: none; }


/***************CSS CAKEPHP VALIDATOR*****/
form .error {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}

form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}

form .error,form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

/***************BOOSTRAP****************/
.has-feedback .form-control-feedback {
    display: block;
    height: 34px;
    line-height: 34px;
    position: absolute;
    right: 30px;
    text-align: center;
    top: 40px;
    width: 34px;
}

.carousel-inner > .item > img { margin: 0 auto; }

.carousel-caption{
	padding-bottom: 0px;
	bottom: 0px;
	background-color:rgba(0,0,0,.5);
}

.carousel-caption h3{
	color: white;
}

/*
#navbar{
	margin-bottom: 10px !important;
}

#wrapper{
	padding-bottom:60px
}
/******** FIN NAVBAR*********/

/**********CONTENIDO**********
.content{
	margin-top: 30px;
}

.content h3, h1{
	color: #339966;
}

#container-administrador{
	margin-left: 20px;
}
/****FIN CONTENIDO******/

/****GALERIA DE IMAGENES******
.galeria ul li { 
	display: inline; 
}

.gallery{
	padding-left: 0px !important;
}
/**** FIN GALERIA DE IMAGENES******/


/**** FOOTER******
#footer {
	font-family: 'Swiss721BT-RomanCondensed',Helvetica,sans-serif;
	font-size: 15px;
  background-color: #BDCDB3;
  border-top: 3px solid #999966;
  height:250px;
  padding: 10px 0;
  text-align: center;
  position:relative;
  bottom:0;
  width:100%;
}

.footer-text{
	  display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/**** FIN FOOTER******/

/*****************Administrador**************


#contenido-administrador{
	margin-top: 30px;
}

/*******JQUERY VALIDATOR*****
label.valid {
		  width: 24px;
		  height: 24px;
		  background: url(../../img/valid.png) center center no-repeat;
		  display: inline-block;
		  text-indent: -9999px;
}

label.error {
	font-weight: bold !important;
	color: red !important;
	padding: 2px 8px !important;
	margin-top: 2px !importantii;
}

/********CAKEPHP Validation**********
form .error {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}
form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}
form .error,
form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}




*/
