html,body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

footer {
  padding: 30px 0;
}

h3, h1{
	color:#339966;
}

/************sidebar**************/
.member-box{
    display: block;
    padding:8px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.member-box {
    background-color: #FBFBFB;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5F5);
    background-repeat: repeat-x;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 #FFFFFF inset;
}
.round-all {
    border-radius: 3px;
}

img.member-box-avatar {
    float: left;
    height: 40px;
    margin-right: 10px;
    padding: 1px;
    width: 40px;
}

img.member-box-avatar {
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}


/*************Footer**************/
#logos img{
	margin: 0 auto;
	display: inline-block;
	margin-right: 15px; 
}

.bs-docs-footer{
	padding-top:40px;
	padding-bottom:40px;
	margin-top:100px;
	color:#777;
	text-align:center;
	border-top:1px solid #e5e5e5;
}

.copyright{
	text-align: center;
	margin: 0;
	min-height: 0;
	height: auto;
	line-height: 1em;
	font-size: 15px; 
	margin-top: 20px;
}

 /**********NAVBAR**********/
#background-banner {
	height: 130px;
	background: url('../../assets/imagenes/cesteria2.jpg'); 
	padding-right: 0px !important;
}

#imagen_indio_7{
	padding-left: 0px !important;	
}

#logo {
	margin-top: 25px;
	display: inline-block;
}

/************Boton SUbir***********/
.scroll-to-top {
	display: none;
	position: fixed; bottom: 100px; right: 100px;
	width: 80px;
	height: 25px;
	font: bold 0.9em/1.2em Arial, |vetica, sans-serif; 
	color: #bbb !important; text-transform: uppercase; text-decoration: none;
	padding: 10px;
	border-radius: 5px;

	text-align:center;
}
.scroll-to-top:hover { text-decoration: none; }


/***************CSS CAKEPHP VALIDATOR*****/
form .error {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}

form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}

form .error,form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

/***************BOOSTRAP****************/
.has-feedback .form-control-feedback {
    display: block;
    height: 34px;
    line-height: 34px;
    position: absolute;
    right: 30px;
    text-align: center;
    top: 40px;
    width: 34px;
}

/*.carousel-inner > .item > img { margin: 0 auto; }

.carousel-caption{
	padding-bottom: 0px;
	bottom: 0px;
	
}*/

.carousel-caption h3{
	color: white;
}

.carousel-caption {
  position: relative;
  left: 0%;
  right: 0%;
  bottom: 0px;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #000;
  text-shadow: none;
  & .btn {
    text-shadow: none; // No shadow for button elements in carousel-caption
  }
}

.carousel {
    position: relative;
}

.controllers {
    position: absolute;
    top: 0px;
}

.carousel-control.left, 
.carousel-control.right {
    background-image: none;
}

.markup {
    height: 200px; width: 100%; overflow: hidden; 
}

.carousel-caption {
  position: relative;
  left: 0%;
  right: 0%;
  bottom: 0px;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #000;
  text-shadow: none;
  & .btn {
    text-shadow: none; 
  }
}

.carousel {
    position: relative;
}

.controllers {
    position: absolute;
    top: 0px;
}

.carousel-control.left, 
.carousel-control.right {
    background-image: none;
}

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.photo{
    padding: 20px;
}

.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{

    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}


.picture-caption {
    color: #3D3D3D;
    font-size: 0.85em;
    line-height: 125%;
    margin-bottom: 0.25em;
    margin-top: 10px;
    padding-top: 0;
}

.date {
    color: #333333;
    font-family: Georgia,Times,'Times New Roman',serif;
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
}

.title {
   font-family: Georgia,Times,'Times New Roman',serif;
    font-size: 15px;
    font-style: italic;
    font-weight: normal; 
}


/*
.peopleCarouselImg img {
 	width: auto;
 	width: auto;

  height: 150px !important;
  max-height: 150px !important;
}

/*
#navbar{
	margin-bottom: 10px !important;
}

#wrapper{
	padding-bottom:60px
}
/******** FIN NAVBAR*********/

/**********CONTENIDO**********
.content{
	margin-top: 30px;
}

.content h3, h1{
	color: #339966;
}

#container-administrador{
	margin-left: 20px;
}
/****FIN CONTENIDO******/

/****GALERIA DE IMAGENES******
.galeria ul li { 
	display: inline; 
}

.gallery{
	padding-left: 0px !important;
}
/**** FIN GALERIA DE IMAGENES******/


/**** FOOTER******
#footer {
	font-family: 'Swiss721BT-RomanCondensed',Helvetica,sans-serif;
	font-size: 15px;
  background-color: #BDCDB3;
  border-top: 3px solid #999966;
  height:250px;
  padding: 10px 0;
  text-align: center;
  position:relative;
  bottom:0;
  width:100%;
}

.footer-text{
	  display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/**** FIN FOOTER******/

/*****************Administrador**************


#contenido-administrador{
	margin-top: 30px;
}

/*******JQUERY VALIDATOR*****
label.valid {
		  width: 24px;
		  height: 24px;
		  background: url(../../img/valid.png) center center no-repeat;
		  display: inline-block;
		  text-indent: -9999px;
}

label.error {
	font-weight: bold !important;
	color: red !important;
	padding: 2px 8px !important;
	margin-top: 2px !importantii;
}

/********CAKEPHP Validation**********
form .error {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}
form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}
form .error,
form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}




*/
